<%- include("header.ejs") %>
<main>
  <h1><%= title %></h1>
  <ul id="categories">
    <% categories.forEach(function(category){ %>
    <li><a href="/food/<%= category %>"><%= category %></a></li>
    <% }) %>
  </ul>
  <a href="/food/new_category">Dodaj nową kategorię</a>
</main>
<%- include("footer.ejs") %>